.characters {
  display: flex;
  flex-direction: column;
}
.search input {
  height: 50px;
  font-size: 24px;
  border: none;
  border-bottom: 1px solid #d0d0d0;
}
.detail-wrapper {
  display: flex;
  flex: 0.2;
  justify-content: center;
}
.character-detail {
  flex: 0.8;
}
